<h2>Create an Author</h2>
<%= form_for @author do |f| %>
  
    <%= f.label :name %>
    <%= f.input  :name %>
 

    <%= <%= f.label :email %> 
    <%= f.input :email  %>
 
  <%= submit_tag "Create Author" %>
<% end %>
